{% extends 'admin/base.html' %}
{% set page_title='Services' %}

{% block action_buttons %}

{% endblock %}

{% block content %}
  <script>
    $(document).ready(() => {
      $("#editService").submit((e) => {
        e.preventDefault();
        let serviceId = `{{ service["id"] }}`;
        let payload = new FormData();
        payload.append("name", $("#name").val());
        payload.append("description", $("#description").val());
        for (let i=0; i < $(".price-row").length; i+=2) {
          payload.append("price", [
            $($(".price-row")[i]).val(),
            $($(".price-row")[i+1]).val()
          ]);
        }
        $.each($("#images")[0].files, (i, file) => {
          payload.append("images", file);
        });
        $.ajax({
          url: `/admin/services/${serviceId}/editing`,
          type: "POST",
          data: payload,
          contentType: false,
          processData: false
        }).done((resp) => {
          window.location.href = "/admin/services"
        })
      });

      // Adding new row to price
      $('#addPriceRow').click(() => {
        $("#priceRows").append(`
          <div class="input-group mb-1">
            <input class="price-row form-control" type="text"/>
            <span class="input-group-text" id="addon-wrapping"><i class="fas fa-dollar-sign"></i></span>
            <input class="price-row form-control" type="text"/>
            <button type="button" class="price-del-row btn btn-danger"><i class="fas fa-trash"></i></button>
          </div>
        `);
      });
      // Deleting a price row
      $('.price-del-row').click((e) => {
        $(e.currentTarget).parent().remove();
      });
    });
  </script>

  <div class="row">
    <div class="col-8">
      <form id="editService" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
          <label class="form-label">Name</label>
          <input id="name" type="text" class="form-control" name="name" value="{{ service["name"] }}">
        </div>

        <div class="mb-3">
          <label class="form-label">Description</label>
          <textarea id="description" name="description" class="form-control" rows="3">{{ service["description"] }}</textarea>
        </div>

        <div class="mb-3">
          <label class="form-label">Images</label>
          <input name="images" multiple="multiple" class="form-control" type="file" id="images">
        </div>

        <div class="mb-3" id="priceRows">
          <label class="form-label">
            Price
          </label>
              <button id="addPriceRow" type="button" class="btn btn-sm btn-link">Add Price</button>
          {% for price in service["price"] %}
            <div class="input-group mb-1">
              <input value="{{ price[0] }}" class="price-row form-control" type="text"/>
              <span class="input-group-text" id="addon-wrapping"><i class="fas fa-dollar-sign"></i></span>
              <input value="{{ price[1] }}" class="price-row form-control" type="text"/>
              <button type="button" class="price-del-row btn btn-danger"><i class="fas fa-trash"></i></button>
            </div>
          {% endfor %}
        </div>

        <button class="btn btn-primary btn-sm" type="submit">Save</button>
      </form>
    </div>
    <div class="col">
      {% for image in service.images %}
        <img src="{{ image }}" class="img-thumbnail" />
      {% endfor %}
    </div>
  </div>

{% endblock %}
