{% extends 'admin/base.html' %}
{% set page_title='Services' %}

{% block action_buttons %}
  <a href="/admin/services" class="btn btn-link">Back to list</a>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-8">
      <form id="serviceForm" action="/admin/services/save" method="POST" enctype="multipart/form-data">
        {% if service %}
          <input name="service_id" type="hidden" value="{{ service['id'] }}"/>
        {% endif %}
        <div class="mb-3">
          <label class="form-label">Name</label>
          <input id="name" type="text" class="form-control" name="name" value="{{ service['name'] if service else '' }}" autofocus>
        </div>

        <div class="mb-3">
          <label class="form-label">Description</label>
          <textarea id="description" name="description" class="form-control" rows="3">{{ service['description'] if service else '' }}</textarea>
        </div>

        <div class="mb-3">
          <label class="form-label">Images</label>
          <input name="images" multiple="multiple" class="form-control" type="file" id="images">
        </div>

        <div class="mb-3" id="priceRows">
          <label class="form-label">
            Price
          </label>
          <button id="addPriceRow" type="button" class="btn btn-sm btn-link float-end">
            Add Price
          </button>
          {% if service  %}
            {% for name in service["items"] %}
              <div class="input-group mb-1">
                <input name="price_names[]" value="{{ name }}" class="price-row form-control" type="text" placeholder="Name..."/>
                <span class="input-group-text" id="addon-wrapping"><i class="fas fa-dollar-sign"></i></span>
                <input name="price_values[]" value="{{ service["prices"][name] }}" class="price-row form-control" type="text" placeholder="Price..."/>
                <button type="button" class="price-del-row btn btn-danger"><i class="fas fa-trash"></i></button>
              </div>
            {% endfor %}
          {% endif %}
        </div>
        <div class="d-grid gap-2">
          <button class="btn btn-primary full" type="submit">Save</button>
        </div>
      </form>
    </div>
    <div class="col">
      {% if service and service.images %}
        <label class="form-label">
          Uploaded Images
        </label>
        {% for image in service.images %}
          <div class="mb-3">
            <form action="/admin/services/{{ service['id'] }}/images/remove" method="POST">
              <input type="hidden" value="{{ image }}" name="image">
              <img src="/static/images/{{ image }}" class="img-thumbnail" title="{{ image }}"/>
              <div class="d-grid">
                <button data-img="{{ image }}" class="price-rm-img btn btn-sm btn-secondary full" type="submit">Remove</button>
              </div>
            </form>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <br><br>
{% endblock %}

{% block js %}
  <script src="/static/js/services.js"></script>
{% endblock %}
