{% extends 'admin/base.html' %}
{% set page_title='Services' %}

{% block action_buttons %}
  <a href="/admin/services" class="btn btn-link">Back to list</a>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-8">
      <form id="serviceForm" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
          <label class="form-label">Name</label>
          <input id="name" type="text" class="form-control" name="name" value="{{ service["name"] if service else '' }}">
        </div>

        <div class="mb-3">
          <label class="form-label">Description</label>
          <textarea id="description" name="description" class="form-control" rows="3">{{ service["description"] if service else '' }}</textarea>
        </div>

        <div class="mb-3">
          <label class="form-label">Images</label>
          <input name="images" multiple="multiple" class="form-control" type="file" id="images">
        </div>

        <div class="mb-3" id="priceRows">
          <label class="form-label">
            Price
          </label>
          <button id="addPriceRow" type="button" class="btn btn-sm btn-link float-end">
            Add Price
          </button>
          {% if service  %}
            {% for price in service["price"] %}
              <div class="input-group mb-1">
                <input value="{{ price[0] }}" class="price-row form-control" type="text" placeholder="Name..."/>
                <span class="input-group-text" id="addon-wrapping"><i class="fas fa-dollar-sign"></i></span>
                <input value="{{ price[1] }}" class="price-row form-control" type="text" placeholder="Price..."/>
                <button type="button" class="price-del-row btn btn-danger"><i class="fas fa-trash"></i></button>
              </div>
            {% endfor %}
          {% endif %}
        </div>
        <div class="d-grid gap-2">
          <button class="btn btn-primary full" type="submit">Save</button>
        </div>
      </form>
    </div>
    <div class="col">
      {% if service %}
        <label class="form-label">
          Uploaded Images
        </label>
        {% for image in service.images %}
          <div class="mb-3">
            <img src="/static/images/{{ image }}" class="img-thumbnail" title="{{ image }}"/>
            <div class="d-grid">
              <button data-img="{{ image }}" class="price-rm-img btn btn-sm btn-secondary full" type="submit">Remove</button>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <br><br>
{% endblock %}

{% block js %}
  <script>
    const addService = (payload) => {
      $.ajax({
        url: `/admin/services/adding`,
        type: "POST",
        data: payload,
        contentType: false,
        processData: false
      }).done((resp) => {
        location.reload();
      })
    };

    const editService = (serviceId, payload) => {
      $.ajax({
        url: `/admin/services/${serviceId}/editing`,
        type: "POST",
        data: payload,
        contentType: false,
        processData: false
      }).done((resp) => {
        location.reload();
      })
    };

    $(document).ready(() => {
      // On pag reload, Reset upsert form
      $('#serviceForm').trigger('reset');

      let rmImages = [];  // This list is for storing images that user removed

      // Adding new row to price
      $('#addPriceRow').click(() => {
        $("#priceRows").append(`
          <div class="input-group mb-1">
            <input class="price-row form-control" type="text" placeholder="Name..."/>
            <span class="input-group-text" id="addon-wrapping"><i class="fas fa-dollar-sign"></i></span>
            <input class="price-row form-control" type="text" placeholder="Price..."/>
            <button type="button" class="price-del-row btn btn-danger"><i class="fas fa-trash"></i></button>
          </div>
        `);
      });

      // Deleting a price row
      $(document).on('click', '.price-del-row', (e) => {
        $(e.currentTarget).parent().remove();
      });

      // Collect removed images
      $(document).on('click', '.price-rm-img', (e) => {
        rmImages.push($(e.currentTarget).data('img'));
        // hide the selected image
        $(e.currentTarget).parent('div').parent('div').remove();
      });

      // handle upsert form submit (add/edit)
      $("#serviceForm").submit((e) => {
        e.preventDefault();
        let mode = `{{ mode }}`;  // This from views, to determine what mode of the form. Adding or Editingß

        // Collect data from the form
        let payload = new FormData();
        payload.append("name", $("#name").val());
        payload.append("description", $("#description").val());
        for (let i=0; i < $(".price-row").length; i+=2) {
          payload.append("price", [
            $($(".price-row")[i]).val(),
            $($(".price-row")[i+1]).val()
          ]);
        }
        $.each($("#images")[0].files, (i, file) => {
          payload.append("images", file);
        });

        // Depends on the mode from the views. it will code add or edit
        if (mode === 'add') {
          addService(payload);
        }
        else {
          let serviceId = `{{ service["id"] if service else '' }}`;
          // Only add rmImages key on editing
          for (const img of rmImages) {
            payload.append("rmImages", img);
          }
          console.table([...payload]);
          editService(serviceId, payload);
        }
      });
    });
  </script>
{% endblock %}
