html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #5e5e5e;
    color: white;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}

.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
}
@media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron h1 {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

.main-content {
    margin-top: 100px;
    margin-bottom: 75px;
}

.nav-social a {
    margin-right: 10px;
}

.article {
    background-color: #fff;
    margin: 0 auto;
    padding: 100px;
    width: 80%;
}

.article img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.article p {
    line-height: 200%;
    text-align: justify;
}

.article-content ul li {
    line-height: 200%;
    text-align: justify;
}

.card {
    border-width: 0px;
}

.card h1 a {
    text-decoration: none;
    line-height: 1.5;
    font-size: 24px;
}

.card h1 a mark {
    color: gray;
}

.article-content {
    margin-top: 50px;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}

.highlight pre {
    padding: 10px;
}

.navbar-nav a {
    margin-right: 20px;
}

.header {
    width: 50%;
    margin: 0px auto
}

.header-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 5rem;
    border-bottom: 3px solid #796eff;
    padding-bottom: 10px;
    font-family: ubuntu, sans-serif;
    margin-bottom: 30px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    color: #796eff;
}

.header p {
    font-family: 'Crafty Girls';
}

.copyright {
    background-color: black;
    opacity: 0.5;
    margin: 0px auto;
    color: white;
    padding: 25px;
}

footer h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: x-large;
}

footer .social-links a {
    margin-right: 20px;
    color: white;
}

footer ul {
    display: list-item;
    text-align: justify;
    padding:0px;
    list-style-type: none;
    padding-left:0;
}

.row {
    margin: 15px;
  }

  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .nav-link {
      color: #796eff !important;
  }

.promo {
    position: fixed;
    display: block;
    bottom: 0;
    right: 0;
    z-index: 100;
    margin-right: 10px;
}
