{% extends "base.html" %}
{% block content %}

  <div class="row justify-content-md-center">
    <h1 class="header-title">Our Inventory</h1>
  </div>
  <div class="row">
    {% for vehicle in vehicles %}
      <div class="col-md-4 col-sm-12 col-12">
        <div class="card mb-4 shadow bg-white rounded">
          <img src="/static/images/{{ vehicle.images[0] }}" class="card-img-top" alt="{{ vehicle.id }}" height="225" width="100%">

          <div class="card-body">
            <h1><a href="/inventory/{{ vehicle.id }}">{{vehicle.make + ' ' + vehicle.model}}</a></h1>
            <p class="card-text">
              {{ vehicle.description|truncate(255, True) }}
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="/inventory/{{ vehicle.id }}" class="btn btn-sm btn-outline-primary">
                  Details
                </a>
              </div>
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>
    {% else %}
      No posts yet!
    {% endfor %}
  </div>

{% endblock %}
