{% extends "base.html" %}
{% block content %}

  <div class="row justify-content-md-center">
    <h1 class="header-title">{{ vehicle.make + ' ' + vehicle.model}}</h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-12">
        <div class="card mb-4 shadow bg-white rounded">
          <div class="card-body">
            <h1><a href="/{{ vehicle.id }}.html">{{vehicle.make + ' ' + vehicle.model}}</a></h1>
            <p class="card-text">
              Make: {{ vehicle.make}}
              <br/>
              Model: {{ vehicle.model}}
              <br/>
              Year: {{ vehicle.year}}
              <br/>
              Price: {{ vehicle.price}}
              <br/>
              Title: {{ vehicle.title}}
              <br/>
              Condition: {{ vehicle.condition}}
              <br/>
              Description:
              {{ vehicle.description|striptags }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      {% for image in vehicle.images %}
        <a href="/static/images/{{ image }}" class="col-4">
          <img src="/static/images/{{ image }}" class="img-fluid rounded" alt="{{ image }}">
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock %}
